<!--
<h1>Index#frontcover</h1>
<p>Find me in app/views/index/frontcover.html.erb</p>
-->
<!--
<div class="header-logo">読み太。</div>
<div class="header-list">
  <ul>
    <li>読み太。とは</li>
    <li>できること</li>
    <li>お問い合わせ</li>
  </ul>
</div>
-->

<script type="text/javascript">
  $('').fadeOut();
</script>

<div class="contents">
  <h3 class="logo1">本の表紙</h3>
  <div class="contents-item">
    <a href="https://www.amazon.co.jp/「原因」と「結果」の法則-ジェームズ-アレン/dp/4763195093" target="_blank"><img src="https://images-na.ssl-images-amazon.com/images/I/41DXPHP16KL._SX321_BO1,204,203,200_.jpg"></a>
    <!--<p>原因と結果の法則</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/キャッチャー・イン・ザ・ライ-ペーパーバック・エディション-J-D-サリンジャー/dp/4560090009/ref=pd_lpo_sbs_14_t_0?_encoding=UTF8&psc=1&refRID=9MXBDVXT8SNSZPT3Y8SE"><img src="https://images-na.ssl-images-amazon.com/images/I/41GdBouG9QL._SX311_BO1,204,203,200_.jpg"></a>
    <!--<p>ライ麦畑でつかまえて</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/アニメ絵本-あらしのよるに-きむら-ゆういち/dp/4620200123/ref=sr_1_9?s=books&ie=UTF8&qid=1507945935&sr=1-9&keywords=あらしのよるに"><img src="https://images-na.ssl-images-amazon.com/images/I/614YJDSJDDL._SY487_BO1,204,203,200_.jpg"></a>
    <!--<p>あらしのよるに</p>-->
  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/25時のバカンス-市川春子作品集-アフタヌーンKC-市川-春子/dp/4063107809/ref=sr_1_1?s=books&ie=UTF8&qid=1507945980&sr=1-1&keywords=25時のバカンス"><img src="https://images-na.ssl-images-amazon.com/images/I/51LPpkqgC8L._SX347_BO1,204,203,200_.jpg"></a>
    <!--<p>25時のバカンス</p>-->
  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
    <!--<p>かえるくん、東京を救う</p>-->
  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
    <!--<p>空飛ぶタイヤ</p>-->
  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
    <!--<p>宇宙のみなしご</p>-->
  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
    <!--<p>顔のない男</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
    <!--<p>そして誰もいなくなった</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
    <!--<p>7つの会議</p>-->
  </div>



  <div id="enjoy" class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
    <!--<p>それが僕には楽しかったから</p>-->
  </div>


  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
    <!--<p>7つの会議</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/ぼくは明日、昨日のきみとデートする-宝島社文庫-七月-隆文/dp/4800226104/ref=sr_1_1?s=books&ie=UTF8&qid=1507946858&sr=1-1&keywords=僕は明日+昨日の君とデートする"><img src="https://images-na.ssl-images-amazon.com/images/I/51si2Qjqd3L._SX343_BO1,204,203,200_.jpg"></a>
    <!--<p>7つの会議</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/青空のむこう-アレックス-シアラー/dp/4763002112/ref=sr_1_2?s=books&ie=UTF8&qid=1507946770&sr=1-2&keywords=本+おすすめ"><img src="https://images-na.ssl-images-amazon.com/images/I/51YH7rteTZL._SX345_BO1,204,203,200_.jpg"></a>
    <!--<p>7つの会議</p>-->
  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
    <!--<p>UNIXという考え方</p>-->
  </div>


</div>