<!--
<h1>Index#frontcover</h1>
<p>Find me in app/views/index/frontcover.html.erb</p>
-->
<!--
<div class="header-logo">読み太。</div>
<div class="header-list">
  <ul>
    <li>読み太。とは</li>
    <li>できること</li>
    <li>お問い合わせ</li>
  </ul>
</div>
-->

<!--
<script type="text/javascript">
  $('').fadeOut();
</script>

<div class="contents">
  <h3 class="logo1">本の表紙</h3>
  <div class="contents-item">
    <a href="https://www.amazon.co.jp/「原因」と「結果」の法則-ジェームズ-アレン/dp/4763195093" target="_blank"><img src="https://images-na.ssl-images-amazon.com/images/I/41DXPHP16KL._SX321_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/キャッチャー・イン・ザ・ライ-ペーパーバック・エディション-J-D-サリンジャー/dp/4560090009/ref=pd_lpo_sbs_14_t_0?_encoding=UTF8&psc=1&refRID=9MXBDVXT8SNSZPT3Y8SE"><img src="https://images-na.ssl-images-amazon.com/images/I/41GdBouG9QL._SX311_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/アニメ絵本-あらしのよるに-きむら-ゆういち/dp/4620200123/ref=sr_1_9?s=books&ie=UTF8&qid=1507945935&sr=1-9&keywords=あらしのよるに"><img src="https://images-na.ssl-images-amazon.com/images/I/614YJDSJDDL._SY487_BO1,204,203,200_.jpg"></a>

  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/25時のバカンス-市川春子作品集-アフタヌーンKC-市川-春子/dp/4063107809/ref=sr_1_1?s=books&ie=UTF8&qid=1507945980&sr=1-1&keywords=25時のバカンス"><img src="https://images-na.ssl-images-amazon.com/images/I/51LPpkqgC8L._SX347_BO1,204,203,200_.jpg"></a>

  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>

  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>

  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>

  </div>
  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>

  </div>



  <div id="enjoy" class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>

  </div>


  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/ぼくは明日、昨日のきみとデートする-宝島社文庫-七月-隆文/dp/4800226104/ref=sr_1_1?s=books&ie=UTF8&qid=1507946858&sr=1-1&keywords=僕は明日+昨日の君とデートする"><img src="https://images-na.ssl-images-amazon.com/images/I/51si2Qjqd3L._SX343_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/青空のむこう-アレックス-シアラー/dp/4763002112/ref=sr_1_2?s=books&ie=UTF8&qid=1507946770&sr=1-2&keywords=本+おすすめ"><img src="https://images-na.ssl-images-amazon.com/images/I/51YH7rteTZL._SX345_BO1,204,203,200_.jpg"></a>

  </div>

  <div class="contents-item">
    <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>

  </div>


</div>
-->

<h1>読み太。</h1>


<section id="photos_3">
  <a target="_blank" href="https://www.amazon.co.jp/25時のバカンス-市川春子作品集-アフタヌーンKC-市川-春子/dp/4063107809/ref=sr_1_1?s=books&ie=UTF8&qid=1507945980&sr=1-1&keywords=25時のバカンス"><img class="book1" src="https://images-na.ssl-images-amazon.com/images/I/51LPpkqgC8L._SX347_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
</section>



<!--
<section id="photos_5">
<a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
<a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
</section>
-->





<section id="photos_6">
  <a target="_blank" href="https://www.amazon.co.jp/gp/product/4048692712/ref=s9_dcacsd_dcoop_bw_c_x_3_w?pf_rd_m=AN1VRQENFRJN5&pf_rd_s=merchandised-search-5&pf_rd_r=WR3PFZMZ1WER6DB0APDM&pf_rd_r=WR3PFZMZ1WER6DB0APDM&pf_rd_t=101&pf_rd_p=a5a2dc3e-76dc-4071-bb8f-980d94b8d358&pf_rd_p=a5a2dc3e-76dc-4071-bb8f-980d94b8d358&pf_rd_i=466280"><img src="https://images-na.ssl-images-amazon.com/images/I/51QyAm7YKsL._SX349_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/gp/product/4094516743/ref=s9_acsd_hps_bw_c_x_5_w?pf_rd_m=AN1VRQENFRJN5&pf_rd_s=merchandised-search-7&pf_rd_r=WR3PFZMZ1WER6DB0APDM&pf_rd_r=WR3PFZMZ1WER6DB0APDM&pf_rd_t=101&pf_rd_p=020b91a2-2ea5-488b-a5e9-808efb690088&pf_rd_p=020b91a2-2ea5-488b-a5e9-808efb690088&pf_rd_i=466280"><img src="https://images-na.ssl-images-amazon.com/images/I/51bHdNk7oPL._SX348_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/昨夜のカレー、明日のパン-河出文庫-木皿-泉/dp/4309414265/ref=pd_sim_14_1?_encoding=UTF8&psc=1&refRID=Z8CXQA0NN1QSNH05RAK8"><img src="https://images-na.ssl-images-amazon.com/images/I/41CxQTJZ9iL._SX347_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/君の膵臓をたべたい-双葉文庫-住野-よる/dp/4575519944/ref=pd_sim_14_6?_encoding=UTF8&psc=1&refRID=Z8CXQA0NN1QSNH05RAK8"><img src="https://images-na.ssl-images-amazon.com/images/I/51VPC1RxO6L._SX348_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/バッタを倒しにアフリカへ-光文社新書-前野ウルド浩太郎/dp/4334039898/ref=pd_sim_14_5?_encoding=UTF8&psc=1&refRID=60SAD6NBAXVMHVDJ2RCC"><img src="https://images-na.ssl-images-amazon.com/images/I/51a5BUBJOWL._SX310_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/UNIXという考え方―その設計思想と哲学-Mike-Gancarz/dp/4274064069/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=45QTBP8KPG3QG0QM7JV4"><img src="https://images-na.ssl-images-amazon.com/images/I/518ME653H3L._SX330_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/七つの会議-集英社文庫-池井戸-潤/dp/4087454126/ref=sr_1_1?s=books&ie=UTF8&qid=1507946268&sr=1-1&keywords=7つの会議"><img src="https://images-na.ssl-images-amazon.com/images/I/519t9ukcl9L._SX354_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/それがぼくには楽しかったから-全世界を巻き込んだリナックス革命の真実-小プロ・ブックス-リーナス-トーバルズ/dp/4796880011/ref=sr_1_1?s=books&ie=UTF8&qid=1507946615&sr=1-1&keywords=リーナストーバルズ"><img src="https://images-na.ssl-images-amazon.com/images/I/51WZM2W6ZBL._SX327_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/はらぺこあおむし-エリック-カール作-カール/dp/4033280103/ref=sr_1_1?s=books&ie=UTF8&qid=1507946917&sr=1-1&keywords=腹ペコあおむし"><img src="https://images-na.ssl-images-amazon.com/images/I/51GG0651VQL._SY337_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/世界を変えた10冊の本-文春文庫-池上-彰/dp/416790036X/ref=sr_1_6?s=books&ie=UTF8&qid=1508154904&sr=1-6&keywords=本+ランキング"><img src="https://images-na.ssl-images-amazon.com/images/I/41USokjrChL._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ・クリスティー/dp/4151310800/ref=sr_1_1?s=books&ie=UTF8&qid=1507946229&sr=1-1&keywords=そして誰もいなくなった"><img src="https://images-na.ssl-images-amazon.com/images/I/5151DK%2Bvf9L._SX343_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/バッタを倒しにアフリカへ-光文社新書-前野ウルド浩太郎/dp/4334039898/ref=pd_sim_14_5?_encoding=UTF8&psc=1&refRID=60SAD6NBAXVMHVDJ2RCC"><img src="https://images-na.ssl-images-amazon.com/images/I/719nFjeL5RL.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/カラフル-文春文庫-森-絵都/dp/4167741016/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=BE0M99CD32SKBNXVAK8Q"><img src="https://images-na.ssl-images-amazon.com/images/I/41f6NlMFL6L._SX346_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/gp/product/416390624X/ref=s9_acsd_zgift_hd_bw_b240G_c_x_w?pf_rd_m=AN1VRQENFRJN5&pf_rd_s=merchandised-search-5&pf_rd_r=V1P36BFGFNWWF7XW4DMY&pf_rd_t=101&pf_rd_p=60b727b1-a088-5224-8541-f994c7433c47&pf_rd_i=492048"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2BcMWBJwHL._SX346_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/西の魔女が死んだ-新潮文庫-梨木-香歩/dp/4101253323/ref=pd_rhf_dp_5?_encoding=UTF8&pd_rd_i=4101253323&pd_rd_r=3GEZQW4G991DZBRD44E9&pd_rd_w=LfFUM&pd_rd_wg=hWH81&psc=1&refRID=3GEZQW4G991DZBRD44E9"><img src="https://images-na.ssl-images-amazon.com/images/I/411eu0htNhL._SX355_BO1,204,203,200_.jpg"></a>


</section>

<!--
<section id="photos_4">
  <a target="_blank" href="https://www.amazon.co.jp/かえるくん、東京を救う-HARUKI-MURAKAMI-9-STORIES/dp/4884184580/ref=sr_1_1?s=books&ie=UTF8&qid=1507946037&sr=1-1&keywords=かえるくん+東京を救う"><img src="https://images-na.ssl-images-amazon.com/images/I/41lEgda4cjL._SX358_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520/ref=sr_1_1?s=books&ie=UTF8&qid=1507946090&sr=1-1&keywords=空飛ぶタイヤ"><img src="https://images-na.ssl-images-amazon.com/images/I/51j8mM1LjFL._SX360_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?s=books&ie=UTF8&qid=1507946135&sr=1-1&keywords=宇宙のみなしご"><img src="https://images-na.ssl-images-amazon.com/images/I/41oG2Asz9uL._SX351_BO1,204,203,200_.jpg"></a>
  <a target="_blank" href="https://www.amazon.co.jp/刑事ファビアン・リスク-顔のない男-ハーパーBOOKS-ステファン-アーンヘム/dp/4596550379/ref=sr_1_1?s=books&ie=UTF8&qid=1507946181&sr=1-1&keywords=顔のない男"><img src="https://images-na.ssl-images-amazon.com/images/I/51zgiabt9XL._SX353_BO1,204,203,200_.jpg"></a>

</section>>
-->

