<script type="text/javascript">
document.write('<a href="/home/sandbox"><h1>砂場へ</h1></a><br>');

var msg = new Array();
var no = 0;
// scriptタグを用いると、ブラウザバックを行った際に、scriptタグ内部しか表示しないバグが、あるっぽい。なので、scriptタグ内で表示
msg[0] = '<h1>読み太。</h1><p>Find me in app/views/home/top.html.erb</p><a href="/home/introduct">intro</a>';
document.write(msg[0]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/%E3%81%82%E3%82%89%E3%81%97%E3%81%AE%E3%82%88%E3%82%8B%E3%81%AB%E5%85%A87%E5%B7%BB%E3%82%BB%E3%83%83%E3%83%88-%E3%81%82%E3%82%89%E3%81%97%E3%81%AE%E3%82%88%E3%82%8B%E3%81%AB%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E8%AC%9B%E8%AB%87%E7%A4%BE/dp/4069362231/ref=sr_1_2?s=books&ie=UTF8&qid=1507352729&sr=1-2&refinements=p_n_feature_eleven_browse-bin%3A2254963051" target="_blank">あらしのよるに</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/%E3%83%AA%E3%82%B9%E3%82%92%E5%AE%9F%E8%A3%85%E3%81%99%E3%82%8B-Kindle-Single-%E5%86%86%E5%9F%8E-%E5%A1%94-ebook/dp/B00WGS4L18" target="_blank">リスを実装する</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/dp/B00DW4ZYAM/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank">25時のバカンス</a></p>';
// msg[3] = '<p><a href="https://www.amazon.co.jp/dp/B00DW4ZYAM/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank">かえるくん、東京を救う</a></p>';
// msg[4] = '<p><a href="https://www.amazon.co.jp/dp/4061879413?_encoding=UTF8&isInIframe=0&n=465392&ref_=dp_proddesc_0&s=books&showDetailProductDesc=1#product-description_feature_div" target="_blank">青が消える(Losing Blue)</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520" target="_blank">空飛ぶタイヤ</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/「原因」と「結果」の法則-ジェームズ-アレン/dp/4763195093" target="_blank">原因と結果の法則</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?ie=UTF8&qid=1507352917&sr=8-1&keywords=宇宙のみなしご" target="_blank">宇宙のみなしご</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/ライ麦畑でつかまえて-J・D・サリンジャー/dp/B01LTHMRG2/ref=sr_1_2?ie=UTF8&qid=1507352990&sr=8-2&keywords=ライ麦畑でつかまえて+野崎" target="_blank">ライ麦畑でつかまえて</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/顔のない男-イザベル・ホランド/dp/4572004641" target="_blank">顔のない男</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ-クリスティー/dp/4151300805" target="_blank">そして誰もいなくなった</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.com/Just-Fun-Story-Accidental-Revolutionary/dp/0066620732/ref=sr_1_1?ie=UTF8&qid=1507353958&sr=8-1&keywords=just+for+fun" target="_blank">Just for Fun</a></p>';
msg[1] = '<p><a href="https://www.amazon.com/Everything-You-Need-Math-Notebook/dp/0761160965/ref=sr_1_1?s=books&ie=UTF8&qid=1507353996&sr=1-1&keywords=math" target="_blank">Everything You Need to Ace Math in One Big Fat Notebook: The Complete Middle School Study Guide</a></p>';
msg[2] = '<p><a href="https://www.amazon.com/Basic-Physics-Self-Teaching-Karl-Kuhn/dp/0471134473/ref=sr_1_1?s=books&ie=UTF8&qid=1507354111&sr=1-1&keywords=physics" target="_blank">Basic Physics</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

</script>
