<!-- セッションによる表示 -->
<% session[:Receivefruit].each do |i|%>
    <!--
    <img src="<%= i %>" width="50" height="50">
    -->
<% end %>
<!-- appendによる表示 -->
<div id="display_history"></div>
<div class="line"></div>


<% form_tag :home_titleSearch, method: :get do  %>
<% label_tag :title, 'Title Search' %>
<% text_field_tag 'title', params[:title] %>
<% submit_tag "Search" %>
<% end %>


<% session[:Receivefruit].each do |i|%>
    <!--
    <img src="<%= i %>" width="50" height="50">
    -->
<% end %>
<!--
<div id="display_history"></div>
-->

<script>
document.write('<img src="'+ gon.history_list +'">');
</script>
<!--
  <label for="title">Title Search</label>
  <input type="text" name="title" id="title" />
  <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>
-->
<div id="orver">
  <!--
  <h1>モーダルウィンドウのデモ</h1>
  -->
  <div id="wrap">
    <div id="contents">
      <!--
      <p>リンクテキストをクリックするとモーダルウィンドウを表示させます。モーダルウィンドウ周りのオーバーレイをクリックすると終了します。</p>
      -->
      <!--
      <a id="modal-open1" class="button-link">クリックするとモーダルウィンドウを開きます。</a>
      -->
    </div> <!-- contents end -->
  </div> <!-- wrap end -->
</div> <!-- orver end -->

<!-- ここからモーダルウィンドウ -->
<div id="modal-content">
  <div id="modal-content-innar">
    <!-- モーダルウィンドウのコンテンツ開始 -->
    <p class="red bold">
      <!--
      きっかけはパワハラだった！トップセールスマンのエリート課長を社内委員会に訴えたのは、歳上の部下だった。
      そして役員会が下した不可解な人事。いったい二人の間に何があったのか。
      今、会社で何が起きているのか。事態の収拾を命じられた原島は、
      親会社と取引先を巻き込んだ大掛かりな会社の秘密に迫る。
      ありふれた中堅メーカーを舞台に繰り広げられる迫真の物語。傑作クライム・ノベル。
      -->
      <br /></p>

    <p><a id="modal-close" class="button-link">閉じる</a></p>
  </div>
  <!-- モーダルウィンドウのコンテンツ終了 -->
</div>




<!--
<div class="title">七つの会議</div>
<div class="author"><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>池井戸潤</a></div>

<div class="center">
  <img class="modal-open" src="https://images-fe.ssl-images-amazon.com/images/I/51Z2aV6mxBL.jpg" >
</div>
-->

<div class="title"></div>
<div class="author"></div>

<div class="center"></div>

<div id="photos_1"></div>
<!--　Lower Stage　-->
<section id="photos_1">
</section>

<div class="line"></div>


<section id="photos_2">
</section>
<section id="photos_6">
</section>

<section id="out">
</section>

<!--
<p class="seikou">成功すれば消えます</p>

<div id="container"></div>

<button class="hiroya1" value='恋愛'>恋愛</button>
<button class="submit" value='ミステリー'> ミステリー</button>
<button class="submit" value='DIVE'>DIVE!</button>
-->
