<!--
<form action="http://localhost:3000" method="post">
-->
<%= form_tag("/home/result") do %>
   <fieldset>
      <legend>読者カルテ</legend>
      <p>
         <label>名前:<input type="text" name="username"></label>
         <label>年齢:<input type="number" name="age" min="0"></label>
      </p>
      <p><label>好きなジャンル</label>
      <select name="job">
         <option value="文学">文学</option>
         <option value="推理小説">推理小説</option>
         <option value="自己啓発">自己啓発</option>
         <option value="SF">SF</option>
         <option value="ホラー">ホラー</option>
         <option value="絵本">絵本</option>
      </select>
      </p>
      
      <p><label>読書の頻度<input type="tel" name="tel"></label></p>
      <p><label>好きな作家<input type="text" name="sakka"></label></p>
       <p><label>あなたの本ベスト3</p>
        <p><input type="text" name="bestbook1"></label></p>
       <p><input type="text" name="bestbook2"></label></p>
        <p><input type="text" name="bestbook3"></label></p>
      <p><label><input type="checkbox" name="dm" checked></label></p>
      <p><input type="reset"><input type="submit"></p>
   </fieldset>
<% end %>

<!--

<FORM method="POST" enctype="multipart/form-data" action="act_post.php">
  <TABLE border="0">
    <TBODY>
    <TR>
      <TD>好きな作家名</TD>
      <TD><textarea name="input_txtarea" cols=40 rows=4></textarea></TD>
    </TR>
    <TR>
    <%= form_tag("/home/result") do %>
      <TD>好きな本ベスト3</TD>
      <TD><textarea name="input_txtarea" cols=40 rows=4></textarea></TD>
      <TD><textarea name="input_txtarea" cols=40 rows=4></textarea></TD>
      <% end %>
    </TR>
    <TR>
      <TD></TD>
      <TD><INPUT size="35" type="password" name="input_passwd"></TD>
    </TR>
     <TR>
      <TD></TD>
      <TD><INPUT size="35" type="password" name="input_passwd"></TD>
    </TR>
    <TR>
      <TD>好きなジャンル</TD>
      <TD><select name="month">
        <option value="Jan">文学・児童文学
        <option value="Feb">ミステリー・推理小説
        <option value="Mar">自己啓発・HowTo
        <option value="Apr">ノンフィクション
        <option value="Jan">SF
        <option value="Feb">ホラー
        <option value="Mar">絵本
      </select></TD>
    </TR>
    <!--🔵
    <TR>
      <TD>読書頻度　月の冊数</TD>
      <TD><INPUT type="radio" name="button" value="eins" checked>0~1
        <INPUT type="radio" name="button" value="zwei">2~3
        <INPUT type="radio" name="button" value="deri">4~5
        <INPUT type="radio" name="button" value="deri">6~
        </TD>
    </TR>
    <TR>
      <TD></TD>
      <TD><input type="submit" value="実行">
        <input type="reset" value="リセット"></TD>
    </TR>
    </TBODY>
  </TABLE>
</FORM>

-->