<h1>読み太。</h1>
<p>Find me in app/views/home/top.html.erb</p>
<a href="/home/introduct">intro</a>

<script type="text/javascript">
var msg = new Array();
var no = 0;

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/%E3%81%82%E3%82%89%E3%81%97%E3%81%AE%E3%82%88%E3%82%8B%E3%81%AB%E5%85%A87%E5%B7%BB%E3%82%BB%E3%83%83%E3%83%88-%E3%81%82%E3%82%89%E3%81%97%E3%81%AE%E3%82%88%E3%82%8B%E3%81%AB%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E8%AC%9B%E8%AB%87%E7%A4%BE/dp/4069362231/ref=sr_1_2?s=books&ie=UTF8&qid=1507352729&sr=1-2&refinements=p_n_feature_eleven_browse-bin%3A2254963051" target="_blank">あらしのよるに</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/%E3%83%AA%E3%82%B9%E3%82%92%E5%AE%9F%E8%A3%85%E3%81%99%E3%82%8B-Kindle-Single-%E5%86%86%E5%9F%8E-%E5%A1%94-ebook/dp/B00WGS4L18" target="_blank">リスを実装する</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/dp/B00DW4ZYAM/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank">25時のバカンス</a></p>';
msg[3] = '<p><a href="https://www.amazon.co.jp/dp/B00DW4ZYAM/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank">かえるくん、東京を救う</a></p>';
msg[4] = '<p><a href="https://www.amazon.co.jp/dp/4061879413?_encoding=UTF8&isInIframe=0&n=465392&ref_=dp_proddesc_0&s=books&showDetailProductDesc=1#product-description_feature_div" target="_blank">青が消える(Losing Blue)</a></p>';

// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である4</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である5</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である6</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である7</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である8</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である9</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である10</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である11</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である12</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

</script>
