<h1>読み太。</h1>
<p>Find me in app/views/home/top.html.erb</p>
<a href="/home/introduct">intro</a>

<script type="text/javascript">
var msg = new Array();
var no = 0;

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である0</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である1</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である2</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である4</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である5</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である6</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/ライ麦畑でつかまえて-J・D・サリンジャー/dp/B01LTHMRG2/ref=sr_1_2?ie=UTF8&qid=1507352990&sr=8-2&keywords=ライ麦畑でつかまえて+野崎" target="_blank">ライ麦畑でつかまえて</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/顔のない男-イザベル・ホランド/dp/4572004641" target="_blank">顔のない男</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/そして誰もいなくなった-ハヤカワ文庫―クリスティー文庫-アガサ-クリスティー/dp/4151300805" target="_blank">そして誰もいなくなった</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である10</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である11</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である12</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

</script>
