<h1>読み太。</h1>
<p>Find me in app/views/home/top.html.erb</p>
<a href="/home/introduct">intro</a>

<script type="text/javascript">
var msg = new Array();
var no = 0;

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である0</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である1</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である2</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/空飛ぶタイヤ-上-講談社文庫-池井戸-潤/dp/4062764520" target="_blank">空飛ぶタイヤ</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/「原因」と「結果」の法則-ジェームズ-アレン/dp/4763195093" target="_blank">原因と結果の法則</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/宇宙のみなしご-角川文庫-森-絵都/dp/4043941080/ref=sr_1_1?ie=UTF8&qid=1507352917&sr=8-1&keywords=宇宙のみなしご" target="_blank">宇宙のみなしご</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である7</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である8</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である9</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

// 配列用意
msg[0] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である10</a></p>';
msg[1] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である11</a></p>';
msg[2] = '<p><a href="https://www.amazon.co.jp/吾輩は猫である-新潮文庫-夏目-漱石/dp/4101010013" target="_blank">我輩は猫である12</a></p>';
// no変数に、ランダムな値を格納する
no = Math.floor(Math.random() * msg.length);
// ランダムな変数で配列番号を指定し、それを描画
document.write(msg[no]);

</script>
