// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 60px 160px 160px 160px;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: solid 3px #498bff;
  //margin: 20px 20px 20px 20px;
}



#photos_3 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;

}


#photos_3 img {
  /* Just in case there are inline attributes */
  //width: 100% !important;
  width: 240px  !important;
  height: auto !important;
  margin: 40px;

}




#photos_5 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;

}


#photos_5 img {
  /* Just in case there are inline attributes */
 // width: 100% !important;
  width: 100% !important;
  height: auto !important;
  margin: 15px;
}


#photos_4 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;

}


#photos_4 img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 15px;
}


#photos_6 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 6;
  -webkit-column-gap:   0px;
  -moz-column-count:    6;
  -moz-column-gap:      0px;
  column-count:         6;
  column-gap:           0px;

}


#photos_6 img {
  /* Just in case there are inline attributes */
  //width: 100% !important;
  width: 130px !important;
  height: auto !important;
  margin: 15px;
}



/*
.book1{
  width: 1000px;
}
*/