// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 60px 160px 160px 160px;
  //background-color: #fafad2;
  //background-image: url("https://images-na.ssl-images-amazon.com/images/I/51VPC1RxO6L._SX348_BO1,204,203,200_.jpg");
}


h1 {
  font-size: 40px;
  font-family: 'Trebuchet';
  text-align: center;
  //border-bottom: solid 3px #498bff;
  border-bottom: solid 3px #49a9d4;
  //margin: 20px 20px 20px 20px;
}

// 2017/10/25バグ解決
// 参考:https://yumeirodesign.jp/blog/201312/csstransforms_fixed.html
img {
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;
}

img:hover{
  opacity: 0.8;
  transition: 0.35s;
  background-color: #000;
}

#title00 {
    
}


#photos_1 {
  /* Prevent vertical gaps */
  line-height: 1;

  -webkit-column-count: 1;
  -webkit-column-gap:   0px;
  -moz-column-count:    1;
  -moz-column-gap:      0px;
  column-count:         1;
  column-gap:           0px;

}


#photos_1 img {
  /* Just in case there are inline attributes */
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 100% !important;
  width: 350px  !important;
  height: auto !important;
  //margin: 30px;

}




#photos_3 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;

}


#photos_3 img {
  /* Just in case there are inline attributes */
  //width: 100% !important;
  width: 250px  !important;
  height: auto !important;
//  margin: 30px;
    margin-top: 30px;

}



/*
#photos_5 {
  
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;

}


#photos_5 img {
  width: 100% !important;
  height: auto !important;
  margin: 15px;
}
*/

/*
#photos_4 {
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;

}


#photos_4 img {  
  width: 100% !important;
  height: auto !important;
  margin: 15px;
}
*/

#photos_6 {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 6;
  -webkit-column-gap:   0px;
  -moz-column-count:    6;
  -moz-column-gap:      0px;
  column-count:         6;
  column-gap:           0px;

}


#photos_6 img {
  /* Just in case there are inline attributes */
  //width: 100% !important;
  width: 130px !important;
  height: auto !important;
  //margin: 15px;
    margin-top: 30px;
}



/*
.book1{
  width: 1000px;
}
*/


.iconBuyButton {
  position: relative;
}


.iconBuyButton i {
  position: absolute;
  //top: 95%;/*画像の左上に配置*/
  //left: 70%;
  left: 0;
  bottom: 0;
  //right: 0;

  margin: 0; /*余計な隙間を除く*/
  color: rgba(0,0,40,0.3);/*文字を白に*/
  background: rgba(200,200,200,0.6);/*背景色*/
  font-size: 1.2em;
  border-radius: 45%;
  line-height: 1;/*行高は1に*/
  //padding: 5px 10px;/*文字周りの余白*/
  opacity:		0;	/* マスクを表示しない */
}

.iconBuyButtonTop {
    position: relative;
}
.iconBuyButtonTop i {
    position: absolute;
    //top: 95%;/*画像の左上に配置*/
    //left: 70%;
    left: 0;
    bottom: 0;
    //right: 0;
    //margin: 0; /*余計な隙間を除く*/
    margin-left: 350px;
    color: rgba(0,0,40,0.3);/*文字を白に*/
    background: rgba(200,200,200,0.6);/*背景色*/
    font-size: 2em;
    border-radius: 45%;
    line-height: 1;/*行高は1に*/
    //padding: 5px 10px;/*文字周りの余白*/
    opacity:		0;	/* マスクを表示しない */
}

.iconBuyButton:hover i{
	opacity:		1;	/* ホバー時にマスクを表示する */
    transition: 0.35s;
}

.iconBuyButtonTop:hover i{
	opacity:		1;	/* ホバー時にマスクを表示する */
    transition: 0.35s;
}